<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update-instructor</title>
</head>
<body>
<form
        action="#"
        th:action="@{/{groupId}/{id}/saveUpdateStudent(groupId=${groupId}, id=${student.id})}"
        th:object="${student}"
        method="post">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="firstName" th:field="*{firstName}" placeholder="First Name">
    <br><br>
    <input type="text" name="lastName" th:field="*{lastName}" placeholder="Last Name">
    <br><br>
    <input type="email" name="email" th:field="*{email}" placeholder="email">
    <br><br>
    <select>
        <option>+996</option>
        <option>+7</option>
        <option>+8</option>
    </select>
    <input type="number" name="phoneNumber" th:field="*{phoneNumber}" placeholder="phoneNumber">
    <br><br>
    <input type="text" name="studyFormat" th:field="*{studyFormat}" placeholder="studyFormat">
    <br><br>
    <input type="submit" value="Add">

</form>
</body>
</html>